<div>
<ul class="navbar">
    <li><a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a></li>
    <li><a [routerLink]="['documento']" routerLinkActive="active">Documento</a></li>
    <li><a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a></li>
  </ul>
</div>
