*{
    list-style: none;
}
.navbar {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;    
  }
  
  .navbar li {
    float: right;
  }
  
  .navbar li a {

    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: yellowgreen;
  }
  
  .active {
    background-color: skyblue;
  }
  