*{
    list-style: none;    
    margin: 0;
    padding: 0;
}

div.sidebar{
    height: 100vh;
    width: 25%;
    margin: 0;
    padding:0;
}

.sidebar{
    background-color: black;
    text-align: center;
  }

  
  .sidebar li {
    display: block;
  }
  
  .sidebar li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .sidebar li a:hover {
    background-color: greenyellow;
}
  
.active {
    background-color: yellow;
  }
  